body{
    background-image: linear-gradient(120deg, rgba(182, 121, 252, 0.89) 0%, #96e6a1 100%);
}
.formulario{
    color: #FFF;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 90px 90px;
    box-sizing: border-box;
    position: fixed;
    left: 35%;
    top: 20%;
    justify-content: space-evenly;
    border: rgba(122, 81, 54, 0.5);
    border-radius: 50%;
    text-align: center;
    background-image: linear-gradient(120deg, rgba(180, 106, 250, 0.884) 0%, #96e6a1 100%);
}
.registro{
    background: none;
    border: .3px solid rgba(122, 81, 54, 0.603);
    border-radius: 3px 15px;
    padding: 4px 10px;
}
::placeholder{
    color: #FFF;
    font-size: 17px;
    
}
:required{
    color: #FFF;
    font-size: 17px;
}
option{
    background: rgba(172, 89, 250, 0.945);
    color: #000;
    border: 5px;
}
input[type = "submit"].registro{
    font-size: 20px;
    background-image: linear-gradient(120deg, rgba(182, 121, 252, 0.89) 0%, #96e6a1 100%);
    border: .3px solid rgba(122, 81, 54, 0.603);
    border-radius: 3px 15px;
    padding: 4px 10px;
    cursor: pointer;
    color: #FFF;
}
input[type = "submit"].registro:hover{
    background-image: linear-gradient(120deg, rgba(157, 72, 253, 0.89) 0%, #96e6a1 100%);
    color: #000;
}